<div *ngIf="isLoading">
	Loading&hellip;
</div>
<article *ngFor="let track of tracks" class="track-list-item">
	<img src="{{ track.artworkUrl100 }}" title="image of { track.trackName}"/>
	
	
	<div class="track-info" id="track-info">
		<h3><a [routerLink]="['/track', tracks.indexOf(track)]">
			{{ track.trackName.substring(0,14) }}</a></h3>
			<p class="artist">{{ track.artistName}}</p>
			<span class="duration"><i class="fa fa-usd" aria-hidden="true"></i>{{ track.trackPrice}}</span>
			<div>
				
				<p><a [routerLink]="['/track', tracks.indexOf(track)]" class="action action--button action--view"><i class="fa fa-arrow-right"></i><span>View</span> </a></p>
			</div>
		</div>
	</article>